Windows
1.安装python(3.7.6)
2.pip安装getgauge(0.3.7且以下)、yapf（可以格式化python脚本、.spec的markdown语法）
3.安装vscode
4.安装vscode的：python插件、python for VScode插件、安装gauge插件(0.0.11)
5.安装Gauge，默认会安装gauge-pthon((0.3.7)、html-report(4.0.8)、screnshot(0.0.1)
6.创建一个gauge-python项目两种方式：
   a.预先创建项目目录，路径进去项目目录，cmd命令进去执行：gauge init python
   b.vscode中进去工作区，ctrl+shift+p，输入gsuge选择create a new Gauge Project
   