Windows
1.安装python(3.7.6)
2.pip安装getgauge(0.3.7且以下)、yapf（可以格式化python脚本、.spec的markdown语法）
3.安装vscode
4.安装vscode的：python插件、python for VScode插件、安装gauge插件(0.0.11)
5.安装Gauge，默认会安装gauge-pthon((0.3.7)、html-report(4.0.8)、screnshot(0.0.1)
6.创建一个gauge-python项目两种方式：
   a.预先创建项目目录，路径进去项目目录，cmd命令进去执行：gauge init python
   b.vscode中进去工作区，ctrl+shift+p，输入gsuge选择create a new Gauge Project.




Using
First, install Visual Studio Code then install mssql extension by pressing F1 or ctrl+shift+p to open command palette, select Install Extension and type mssql.
For macOS, you will need to install OpenSSL. Follow the install pre-requisite steps from DotNet Core instructions.
Open an existing file with a .sql file extension or open a new text file (ctrl+n) and change the language mode to SQL by pressing ctrl+k,m and select SQL. mssql commands and functionalities are enabled in the SQL language mode in Visual Studio Code editor.
Create a new connection profile using command palette by pressing F1, type sqlman to run MS SQL: Manage Connection Profile command. Select Create. See manage connection profiles for more information about how to create and edit connection profiles in your User Settings (settings.json) file.
Connect to a database by pressing F1 and type sqlcon to run MS SQL: Connnect command, then select a connection profile. You can also use a shortcut (ctrl+shift+c).
Write T-SQL script in the editor using IntelliSense and Snippets. Type sql in the editor to list T-SQL Snippets.
Execute T-SQL script or selection of statements in the script by pressing F1 and type sqlex to run MS SQL: Execute Query command. You can also use a shortcut (ctrl+shift+e). See customize shortcuts to learn about change shortcut key bindings to mssql commands.
View the T-SQL script execution results and messages in result view.